interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://storage.googleapis.com/global-surface-water/downloads2/extent/extent_190W_20S_v1_1.tif
  response:
    body:
      string: '<?xml version=''1.0'' encoding=''UTF-8''?><Error><Code>NoSuchKey</Code><Message>The
        specified key does not exist.</Message><Details>No such object: global-surface-water/downloads2/extent/extent_190W_20S_v1_1.tif</Details></Error>'
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://storage.googleapis.com/global-surface-water/downloads2/extent/extent_190W_20S_v1_1.tif
  response:
    body:
      string: '<?xml version=''1.0'' encoding=''UTF-8''?><Error><Code>NoSuchKey</Code><Message>The
        specified key does not exist.</Message><Details>No such object: global-surface-water/downloads2/extent/extent_190W_20S_v1_1.tif</Details></Error>'
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    status:
      code: 404
      message: Not Found
version: 1
