body {    
    background-color: #708090;
    margin: 0;
    font-family: "Open Sans", verdana, arial, sans-serif;
    overflow: hidden;
}


#app-main {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: none;
}


#map-container {
    margin-left: 1%;
    height: 100%;
    width: 80%;
    display: inline-block;
    position: absolute;
}

#map-container > div {
    height: 100%;
}

#map-main {
    height: 100%;
    width: 100%;
}

#sidebar {
    width: 20%;
    border-radius: 5px;
    margin-top: 0.8%;
    padding: 6px;
    padding-top: none;
    display: inline-block;
}

#ctrls-container {
    background-color: white;
    padding: inherit;
    border-radius: 5px;
}

#ctrls-container > div {
    padding: inherit;
}

div > label {
    display: block;
}

#density-container {
    margin-top: 4%;
    padding: inherit;
    border-radius: 5px;
    background-color: white;
}

#sources{
    padding: inherit;
    font-size: 10px;
}

.modal {
    position: fixed;
    z-index: 1002; /* Sit on top, including modebar which has z=1001 */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */

}

.modal-content {
    margin: 15%;
    margin-top: 5%;
    padding: 30px;
    background-color: white;
}

.info-button {
    color: white;
    background-color: #a6a6a6;
    border: 2px solid white;
    border-radius: 25%;
    width: 20px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

#layer-info-open-button:hover, #display-info-open-button:hover {
  filter: brightness(110%);
}